<%- include('partials/header') %>
<div id="container1">
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>

  <div class="container">

        <img class="fas2" src="https://image.flaticon.com/icons/svg/2665/2665329.svg" />

    <h1 class="display-3">Secrets shared by Whisper User's</h1>
    <% usersWithSecrets.forEach(function(user){ %>
          <p class="secret-text"><%=user.secret%></p>
        <% }) %>




  </div>


<%- include('partials/footer') %>
